---
http_interactions:
- request:
    method: get
    uri: http://redsky.target.com/v2/pdp/tcin/not_a_real_id?excludes=taxonomy,price,promotion,bulk_ship,rating_and_review_reviews,rating_and_review_statistics,question_answer_statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Redsky-Trace-Id:
      - d9df09a4db66dbc3
      X-Response-Time:
      - '0.00000'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"product":{"item":{"error_message":"tcin improperly formatted: not_a_real_id","status_code":400}}}'
  recorded_at: Thu, 01 Feb 2018 20:33:51 GMT
recorded_with: VCR 4.0.0
